@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
body{
    font-family: "M PLUS Rounded 1c", sans-serif;
}

::placeholder{
    color: rgb(153, 153, 153) !important;
}

.search-input{
    outline: none !important;
    border: none;
}

.search-input:focus{
    outline: 1px solid dark !important;
    box-shadow: none;
}


/* header start */

/* navbar start */

.logo-container{
    user-select: none;
}

.bg-dark-gradient{
    background: #26282B;
    background: linear-gradient(180deg, rgba(38, 40, 43, 1) 0%, rgba(38, 40, 43, 1) 50%, rgba(40, 49, 58, 1) 100%);
}
.bg-dark-gradient-v2{
    background: #26282B;
background: radial-gradient(circle, rgb(38, 40, 43) 0%, rgba(54, 72, 89, 0.478) 50%, rgba(43, 57, 79, 0.435) 100%);
}

.nav-items li{
    cursor: pointer;
}

.selected{
    background-color: red;
    border-left: 2px solid white;
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 50%, rgba(255, 255, 255, 0) 100%);
}

/* navbar end */

/* header end */



/* main start */

/* first card start */

.search-ico{
    right: 20px;
    top: 20px;
    padding: 10px 13px;
    background-color: #111;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-bottom-custom{
    border-bottom: 1px solid rgba(128, 128, 128, 0.44);
}

.text-small{
    font-size: 12px;
}

/* first card end */


/* second card start */

/* wind card */

.wind-arrow{
    right: 10px;
    rotate: 0deg;
}


/* uv card */

.uv-bar-limit{
    position: relative;
    height: 1px;
}

.uv-bar-limit::after{
    content: '0';
    position: absolute;
    color: gray;
}
.uv-bar-limit::before{
    content: '17';
    position: absolute;
    right: 0;
    top: 20px;
    color: gray;
}

.uv-bar{
    background: #59C2DE;
    background: linear-gradient(90deg, rgba(89, 194, 222, 0) 0%, rgba(89, 136, 222, 0.54) 50%, rgba(89, 194, 222, 1) 100%);
    width: 50%;
    height: 20px;
}

.text-body-custom{
    color: gray;
}

/* second card end */


/* main end */